.section{
    padding: 2em;
    background-color: rgb(255 255 255 / 0.5);
    border-radius: 10px;
}

.title{
    font-size: 3em;
    font-weight: 700;
    color: #000000;
    margin: auto;
}

.subtitle{
    font-size: 1.5em;
    color: #000000;
    margin: auto;
}

.organizer{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

/*Specific for each highlight*/

.heading{
    font-size: 1em;
    font-weight: 350;
    color: #000000;
    background-color: rgb(191 189 189 / 0.57);
    text-align: center;
    margin: 1em;
    padding: 1em;
    vertical-align: center;
    border-radius: 10px;
    width: 60%;
}

.highlights{
    display: grid;
    text-align: center;
    background-color: rgb(197 197 197 / 0.26);
    border-radius: 10px;
    margin: 2em;
    width: 400px;
    justify-content: space-evenly;
}

.container{
    height: 40vh;
    display: grid;
}

.description{
    font-size: 0.7em;
    color: #000000;
    text-align: center;
    vertical-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.media{
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.actions{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
}

.button{
    margin: auto;
    padding: 1em;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}